{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["import", "react", "react-hooks"],
  "rules": {
    "linebreak-style": ["error", "windows"],
    "quotes": [2, "double", { "avoidEscape": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/no-array-index-key": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-nested-ternary": "off"
  }
}
